<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hr {
            color: aliceblue;
            resize:horizontal;
            resize: vertical;
            text-decoration: none;
            font-stretch: expanded;
            font-weight: 600;
            font-family: Times New Roman;
            Font-size:25px;
            padding: 10px 15px;
            position: initial;

        }

    </style>
</head>
<body bgcolor="#4682b4">
<a href="../cart/" class="hr" target = "dataFrame">cart</a>
</body>
</html>