<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .categories {
            color: aliceblue;
            resize:horizontal;
            resize: vertical;
            text-decoration: none;
            font-stretch: expanded;
            font-weight: 600;
            font-family: Times New Roman;
            Font-size:30px;
            padding: 10px 15px;
            position: initial;

        }

    </style>
</head>
<body bgcolor="#b0c4de">
<h2>Allowed categories:</h2>
<!--<test>-->
</body>
</html>