<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .banner{
            position : fixed;
            color: aliceblue;
            border-bottom: 0px;
            text-shadow: 1px 0 #4D575D;
            text-decoration: none;
            font-stretch: expanded;
            font-weight: 700;
            font-family: Times New Roman;
            Font-size:26px;

        }

    </style>
</head>
<body bgcolor="#4682b4">
<right><font color="#f0f8ff"><h3><a href="banner.html" class="banner" target="dataFrame">MrCa4 Online Store</a></h3></font></right>
</body>
</html>