<html>
<head>
    <title>OnlineStore</title>
</head>
<!--<body bgcolor="#dcdcdc">-->
<!--<left><font color="#2e8b57"><h1>MrCa4 Online Store</h1></font>-->
<!--</left>-->
<!--<br>-->
<frameset rows="10%,80%,10%" frameborder="no" >
    <frame src="templates/header.html">
    <frameset cols="10%,90%" frameborder="no">
        <frame src="templates/menu.html" name="mainFrame">
        <frame src="templates/banner.html" name="dataFrame">
    </frameset>
    <frame src="templates/footer.html">
</frameset>
<!--</body>-->
</html>