<html>
<head>
    <title>OnlineStore</title>
</head>
<frameset rows="10%,80%,10%" frameborder="no" >
    <frameset cols="90%,10%" frameborder="no">
        <frame src="templates/header.html" scrolling="no" noresize="yes" >
        <frame src="templates/cart.html" scrolling="no" noresize="yes" >
    </frameset>
    <frameset cols="10%,90%" frameborder="no">
        <frame src="templates/menu.html" scrolling="no" noresize="yes" name="mainFrame">
        <frame src="templates/banner.html"  name="dataFrame">
    </frameset>
    <frame src="templates/footer.html">
</frameset>
<!--</body>-->
</html>