<html>
<head>
    <style>
        .menu {
            color: aliceblue;
            resize:horizontal;
            resize: vertical;
            text-decoration: none;
            font-stretch: expanded;
            font-weight: 600;
            font-family: Times New Roman;
            Font-size:15px;
            padding: 10px 15px;
            position: initial;

        }

    </style>
</head>
<body bgcolor="#b0c4de">
<br>
<a href="../categories" class="menu" target = "dataFrame">Categories</a><br><br>
<a href="../products"  class="menu" target = "dataFrame">Products</a><br><br>
<a href="../top5"  class="menu" target = "dataFrame">Top 5</a><br><br>
</body>
</html>