<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  .input  {
           background-color: #b0c4de;
           color: white;
           border: 0px;
       }
  .categ {
      color: aliceblue;
      resize:horizontal;
      resize: vertical;
      text-decoration: none;
      font-stretch: expanded;
      font-weight: 600;
      font-family: Times New Roman;
      Font-size:30px;
      padding: 10px 15px;
      position: initial;

  }
  .but  {
      background-color: #28983a;
      color: white;
      border: 0.1em;
  }
  </style>
</head>
<body bgcolor="#b0c4de">
<h2>Products:</h2>
<!--<test>-->
</body>
</html>